*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# APK y builds
*.apk
*.aab

# Firebase — no subir claves
google-services.json

# Keystore — nunca subir a git
*.jks
*.keystore